
/* use these fonts 
Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;
*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 25px;
    color: #3a3a3a;
}


h1, h2{
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #252525;
    line-height: 75px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}