
/* use these fonts 
Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;
*/

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 25px;  
    color: #3a3a3a;
    background-color: #8DB99D;

}
/*doesn't seem to change color in tab*/
.favicon {
    color:darkgreen;
}

/*used coloors.co to get color palette to make site more appealing to user*/
h1, h2{
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #493548;
    line-height: 50px;
    font-style: oblique 45deg;
}

#logo, #logo3 {
    vertical-align: auto;

}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    margin-top: 20px;
    color:#493548;
}

#logo3 {
    float: left;
    font-size: 30%;
    padding-bottom: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 40px;
    padding-bottom: 60px;
   
}

#logo, #menu{
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}



#landing-image{
    height:850px;
    width: 100%;
    background:url("images/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg") no-repeat center center;
    margin-top: 20px;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
    text-size-adjust: 150%;
    text-align: center;
}

#left-about {

    font-size: 130%;
    Font-Family: Cabin;
    letter-spacing: 4px;
   
    width: 20%;
    height: 350px;
    
    padding-top: 20px;
    padding-left: 10px;
   
    background-color: rgba(40, 167, 78, 0.3);
    
    top: 250px;
    left: 150px;

    position: absolute;

}

#right-about {

    font-size: 130%;
    Font-Family: Cabin;
    letter-spacing: 4px;
    width: 20%;
    height: 350px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(40, 167, 78, 0.3);
    top: 250px;
    right: 200px;
   
    position: absolute;

}

#center-about {

    font-size: 130%;
    Font-Family: Cabin;
    letter-spacing: 4px;
    width: 20%;
    height: 350px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(40, 167, 78, 0.3);
    top: 250px;
    left: 725px;
    margin: auto;

    position: absolute;
  

}

#about {
    height: 300px;
    width: 80%;
}

#lhsp {

    width: 33%;
    height: 80%;
    float: left;
    text-align: right;
    padding-left: 75px;

}

#rhsp {

    width: 33%;
    height: 80%;
    float: right;
    text-align: left;
    padding-right: 75px;
}

#abouth2 {
    margin: 0 auto;
    width: 33%;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#logo-center {

  
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
   
    
}






