
/* use these fonts 
Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px;
*/

*{
    margin:0;
    padding:0;
    border:0;
}

header {
    background-color: #493548;
}

body {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 25px;  
    color: #3a3a3a;
    

}
/*doesn't seem to change color in tab*/
.favicon {
    color:darkgreen;
}

/*used coloors.co to get color palette to make site more appealing to user*/
h1, h3{
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #8DB99D;
    line-height: 50px;
    font-style: bold;
    position: absolute;
    
}



#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
    margin-top: 20px;
    color:#8DB99D;
}

#logo3 {
    float: left;
    font-size: 35%;
    
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 60px;
   
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}



#landing-image{
    height:850px;
    width: 100%;
    background:url("images/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg") no-repeat center center;
    
}

#cover-text, #cover-text h2 {
    color: #ffffff;
    text-size-adjust: 150%;
    text-align: center;
}





#aboutus {

    padding-top: 30px;
    padding-bottom: 20px;
}
.opening-hours {
    color: #ffffff;
    bottom: 0;
 
    
}

.opening-hours ul {
    
    list-style-type: none;
    display: inline-flex;
}

footer { 
    height: 100px;
    background-color: #8DB99D;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    color: #3a3a3a;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #493548;
    color: white;
    text-align: center;
  }

  .days {
    color:#8DB99D;
    display: inline-flex;
   
  
  }




