

*{
    margin:0;
    padding:0;
    border:0;
}

header {
    background-color: #493548;
}

body {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 25px;  
    color: #3a3a3a;
}

/*used coloors.co to get color palette to make site more appealing to user*/
h1 {
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #8DB99D;
    line-height: 50px;
    position: absolute;
}

h3 {
    background-color: #8DB99D;
    padding: 1px 30px 1px;
    color:#493548;
    font-family: 'italianno', sans-serif;
    font-size: 150%;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    margin-top: 20px;
    color:#8DB99D;
    padding-bottom: 10px;
}

#logo3 {
    float: left;
    font-size: 35%;
}

/* navigation links */

#menu {
    font-family: 'Cabin', Sans-Serif;
    color:#8DB99D;
    font-size: 100%;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #8DB99D;
}

/* background images for each page*/

#landing-image-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#landing-image {
    height:850px;
    width: 100%;
    background:url("../images/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;   
}

#prescriptions-background-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#prescriptions-background {
    height:850px;
    width: 100%;
    background:url("../images/leohoho-DRchVK5apjw-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

#book-consultation-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#book-consultation-background {
    height:850px;
    width: 100%;
    background:url("../images/towfiqu-barbhuiya-hn2hQoALBCk-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

/* zoom feature of background images*/
@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
    text-size-adjust: 150%;
    text-align: center;
}

/*landing page LARGE order prescriptions & book consultation buttons*/

#order-scripts-button {
    background-color: #493548; 
    border: none;
    border-radius: 12px;
    color: #8DB99D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin-left: 200px ;
    margin-top: 200px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #8DB99D;
}

#buttons {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 100%;
    margin: 0 auto;
}

.button:active {
  transform: translateY(4px);
}

#book-consultation-button {
    background-color: #8DB99Dbf; 
    border: none;
    border-radius: 10px;
    color: #493548;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 50px;
    margin-left: 200px ;
    margin-top: 200px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #493548;;

}

/* about us section giving some info & image of pharmacy to break up the text */

#about-us-container {
    width: 100% ;
    background-color: #493548;
    background-image: linear-gradient(180deg, #493548,#8DB99D);
    border-top: solid #493548 10px;
}

#aboutus {
    font-family: 'roboto-condensed', Sans-Serif;
    font-size: 200%;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    color:#ffffff;
}

#blurb1, #blurb2 {
    font-family: 'roboto-condensed', Sans-Serif;
    height: 200px;
    width: 50%;
    padding: 30px;
    text-align: justify;
    color:#ffffff;
}

#address {
    color: #ffffff;
    font-family: 'roboto-condensed', Sans-Serif;
    padding: 30px;
    text-size-adjust: 150%; 
}

#pinktabs{
    height: 50%;
    border-radius: 50%;
    position: flex;
    float: right;
    margin-right: 60px;
    border: solid #8DB99D 5px;
    box-shadow: #26394d 0px 20px 30px -10px;
}

/* fixed footer for opening hours & contact details */
.opening-hours {
    color: #ffffff;
    bottom: 0;
    float: left;
    padding-left: 20px;
}

.opening-hours ul {
    list-style-type: none;
    display: inline-flex;
}

#contact-details {
    float:right;
    padding-right: 20px;
  }

footer { 
    height: 80px;
    background-color: #8DB99D;
    padding-top: 10px;
}

/* non-fixed footer for social media links */
.social-networks{
    text-align: center;
    letter-spacing: 10px;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    color: #3a3a3a;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #493548;
    color: white;
    text-align: center;
  }

  .days {
    color:#8DB99D;
    display: inline-flex;
    font-size: 110%;
  }

  .TF {
    color:#8DB99D;
    display: inline-flex;
    font-size: 110%;
  }


/* prescription order form*/

#prescription-form-section {
    Width: 450px;
    height: 700px;
    padding: 25px;
    color:#8DB99D;
    background-color: #493548BF;
    top: 30px;
    left: 100px;
    position: absolute;

}

.order-prescription-form > h2 {
    color:#8DB99D;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #8DB99D;
}

ul {
    list-style-type: none;
}

.submit-button {
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 175%;
    background-color: #8DB99D;
    color: #493548;
    float: right;
    border: solid;
    border-radius: 15px;
    box-shadow: 0 9px #493548;
    margin-top: -60px;
}

.submit-button:active {
    transform: translateY(4px);
  }

.submit-button:hover {
    background-color: #fafafa;
    color: #493548;
}

.upload-prescription {
    display: flex;
}

/* book consultaion input form */

#book-consultation-section {
    
    width: 400px;
    height: 625px;
    padding: 20px;
    color:#8DB99D;
    background-color: #493548BF;
    top: 100px;
    right: 200px;
    position: absolute;
}

#book-button {
    float: right;
    padding: 10px 20px 10px 20px;
    margin-top: -10px
}

.checkbox ul, #checkbox1, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6  {
    display: inline-flex;
    width: 80%;   
}



/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
   
    #menu {
        clear: left;
        width: 75%;
        height: 45px;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 5px ;
        font-size: 125%;
    }

    #nav {
        height: 150%;
    }

    #landing-image {
        background-size: cover;
    }

    #buttons {
        padding-top: 0px;
        width: 80%;
        margin: 0 auto;
    }

    h3 {
       font-size: 100%;
    }
    
    #about-us-container {
        height: 850px;
    }

    #about-us {
        margin: auto 0;
    }

    #blurb1, #blurb2 {
        height: 250px;
        font-size: 100%;
        padding: 25px;
    }

    #pinktabs {
        max-width: 80%;
        max-height: 80%;
        height: 350px;
        width: 450px;
        margin-left: 50px;
   }

   #address ul {
        height: 50px; 
   }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    
    #menu {
        float: right;
        width: 100%;
        background-color: #493548;
        height: 10%;
    }

    .footer {
        font-size: 75%;
    }

    #blurb1, #blurb2 {
        height: 250px;
        font-size: 75%;
        padding: 25px;
    }

    #blurb1 {
        padding: 25px;
    }

    #blurb2 {
        padding: 25px;
    }

    #address {
        font-size: 75%;
    }

    #buttons {
        top: 5px;
        left: 5px;
    }

    .button {
        font-size: 75%;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    
    #pinktabs {
        max-width: 60%;
        max-height: 60%;
        height: 250px;
        width: 350px;
        margin-left: 50px;
   }
    
    #blurb1, #blurb2 {
        height: 250px;
        font-size: 65%;
        padding: 25px;
    }

    .footer {
        font-size: 65%;
    }

    #menu {
        width: 100%;
        background-color: #493548;
        font-size: 95%;
        margin-left: 2px;
    }

    #buttons {
        top: 1px;
        left: 1px;
    }

    

}


 
  




 




