*{
    margin:0;
    padding:0;
    border:0;
}

header {
    background-color: #493548;
}

body {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 25px;  
    color: #3a3a3a;
}

/*used coloors.co to get color palette to make site more appealing to user*/
h1 {
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #8DB99D;
    line-height: 50px;
    position: absolute;
    
}

h3 {
    background-color: #8DB99D;
    padding: 1px 30px 1px;
    color:#493548;
    font-family: 'italianno', sans-serif;
    font-size: 150%;
    
}

#logo {
    float: left;
    font-size: 280%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    color:#8DB99D;  
}

#logo3 {
    float: left;
    font-size: 35%;
}

/* navigation links */

#menu {
    font-family: 'Cabin', Sans-Serif;
    color:#8DB99D;
    font-size: 100%;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
   
}

#menu li {
    float: right;
    list-style-type: none;
    padding-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #8DB99D;
}

/* background images for each page*/

#landing-image-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#landing-image {
    height:850px;
    width: 100%;
    background:url("../images/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;  
}

#prescriptions-background-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#prescriptions-background {
    height:850px;
    width: 100%;
    background:url("../images/leohoho-DRchVK5apjw-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

#book-consultation-outer {
    height:850px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#book-consultation-background {
    height:850px;
    width: 100%;
    background:url("../images/towfiqu-barbhuiya-hn2hQoALBCk-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

/* zoom feature of background images*/
@keyframes zoom {
    from{
        transform: scale(1.10);
    }
    to{
        transform: scale(1.20);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
    text-size-adjust: 150%;
    text-align: center;
}

/*landing page LARGE order prescriptions & book consultation buttons*/

#order-scripts-button {
    background-color: #493548; 
    border: none;
    border-radius: 12px;
    color: #8DB99D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin-left: 200px;
    margin-top: 200px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #8DB99D;
}

#buttons {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 100%;
    margin: 0 auto;
}

.button:active {
  transform: translateY(4px);
}

#book-consultation-button {
    background-color: #8DB99Dbf; 
    border: none;
    border-radius: 10px;
    color: #493548;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 50px;
    margin-left: 200px ;
    margin-top: 200px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #493548;;

}

/* about us section giving some info & image of pharmacy to break up the text */

#about-us-container {
    
    background:url("../images/pexels-karolina-grabowska-4210656.jpg") no-repeat center center;
    zoom: 125%;
    height: 750px;
    
}

#h2aboutus {
    font-family: 'roboto-condensed', Sans-Serif;
    font-size: 175%;
    padding-top: 30px;
    padding-bottom: 20px;
    color:#ffffff;   
    background-color: #493548;
    text-align: center; 
}

#blurb1 {
    font-family: 'roboto-condensed', Sans-Serif;
    font-size: 75%;
    font-weight:bold;
    height: 100%;
    width: 45%;
    padding-right: 5%;
    padding-top: 10%;
    text-align: justify;
    color:#493548;
    display: inline-block;
    float: right;
    
}


#address {
    color: #ffffff;
    font-family: 'roboto-condensed', Sans-Serif;
    padding: 30px;
    text-size-adjust: 150%; 
}



/* fixed footer for opening hours & contact details */
.opening-hours {
    color: #ffffff;
    bottom: 0;
    float: left;
    padding-left: 20px;
}

.opening-hours ul {
    list-style-type: none;
    display: inline-flex;
}

#contact-details {
    float:right;
    padding-right: 10px;
    box-sizing: border-box;
  }

footer { 
    height: 40px;
    background-color: #8DB99D;
    box-sizing: border-box;
   
}

/* non-fixed footer for social media links */
.social-networks{
    height: 50px;
    padding-top: 25px;
    text-align: center;
    letter-spacing: 10px;
    background-color: #8DB99D;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 120%;
    color: #3a3a3a;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #493548;
    color: white;
    text-align: center;
  }

  .days {
    color:#8DB99D;
    display: inline-flex;
    font-size: 110%;
  }

  .TF {
    color:#8DB99D;
    display: inline-flex;
    font-size: 110%;
  }

  


/* prescription order form*/

#prescription-form-section {
    Width: 450px;
    height: 700px;
    padding: 25px;
    color:#8DB99D;
    background-color: #493548BF;
    top: 30px;
    left: 100px;
    position: absolute;

}

.order-prescription-form > h2 {
    color:#8DB99D;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #8DB99D;
}

ul {
    list-style-type: none;
}

.submit-button {
    
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 175%;
    background-color: #8DB99D;
    color: #493548;
    float: right;
    border: solid;
    border-radius: 15px;
    box-shadow: 0 9px #493548;
    margin-top: -60px;
}

.submit-button:active {
    transform: translateY(4px);
  }

.submit-button:hover {
    background-color: #fafafa;
    color: #493548;
}

.upload-prescription {
    display: flex;
}

/* book consultaion input form */

#book-consultation-section {
    
    width: 400px;
    height: 625px;
    padding: 20px;
    color:#8DB99D;
    background-color: #493548BF;
    top: 100px;
    right: 200px;
    position: absolute;
}

#book-button {
    float: right;
    padding: 10px 20px 10px 20px;
    margin-top: -10px
}

.checkbox ul, #checkbox1, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6  {
    display: inline-flex;
    width: 80%;   
}



/* Media queries */

/*for very large  screens size from 1024px and up to 1200px*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    
    #menu {
        width: 75%;
        height: 30px;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 5px;
    }

    #blurb1 {
        font-size: 75%;
    }
}


/*for larger and medium screens size from 1024px and down*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
   
    #menu {
        width: 75%;
        height: 25px;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 5px;
        font-size: 95%;
    }

    #nav {
        height: 150%;
    }

    #landing-image {
        background-size: cover;
    }

    #buttons {
        padding-top: 0px;
        top: 5px;
        left: 5px;
        width: 80%;
        margin: 0 auto;
    }

    h3 {
       font-size: 100%;
    }
    
    #blurb1 {
        height: 250px;
        font-size: 70%; 
        width: 40%;
    }


   #address ul {
        height: 50px; 
   }

   .footer {
       font-size: 65%;
   }
}

/* For medium to small screens sizes from 481px to 768px e.g. tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {

    #menu {
        height: 50px;
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 85%;
    }

    .footer {
        font-size: 15px;
    }

    #landing-image {
        width: 100%;
        zoom: 120%;
        background:url("../images/pexels-anna-shvets-3683102.jpg") no-repeat center center;
    }

    .opening-hours {
        display: none;
    }

    #buttons {
        padding-top: 0px;
        top: 5px;
        left: 5px;
        width: 80%;
        margin: 0 auto;
        font-size: 10px;
    }

    #order-scripts-button {
        font-size: 250%;
        width: 50%;
       
    }

    #book-consultation-button {
        font-size: 250%;
        width: 50%;
    }
    
    #prescription-form-section {
        Width: 300px;
        height: 650px;
        padding: 20px;
        color:#8DB99D;
        background-color: #493548BF;
        top: 30px;
        left: 100px;
        position: absolute;
        font-size: 20px;
    }

    .submit-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        background-color: #8DB99D;
        color: #493548;
        float: right;
        border: solid;
        border-radius: 15px;
        box-shadow: 0 9px #493548;
        margin-top: -20px;
    }

    #book-consultation-section {
        Width: 300px;
        height: 550px;
        padding: 20px;
        color:#8DB99D;
        background-color: #493548BF;
        top: 30px;
        left: 100px;
        position: absolute;
        font-size: 20px;
    }

    .book-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        background-color: #8DB99D;
        color: #493548;
        float: right;
        border: solid;
        border-radius: 15px;
        box-shadow: 0 9px #493548;
        margin-top: -20px;
    }

    #blurb1 {
        height: 250px;
        font-size: 65%; 
        width: 60%;
    }


}

/* for screens that are 480px wide or less */
@media screen and (max-width: 480px) and (min-width: 320px) {

    #menu {
        height: 60px;
        padding-top: 100px;
        padding-bottom: 15px;
        padding-left: 5px;
        font-size: 65%;
    }

    h3 {
        font-size: 20px;
    }

    #landing-image {
        width: 100%;
        background:url("../images/pexels-anna-shvets-3683102.jpg") no-repeat center center;
    }

    #order-scripts-button {
        font-size: 20px;
        width: 70%;
        margin-left: 10px;
        margin-top: 100px;
    }

    #book-consultation-button {
        font-size: 20px;
        width: 70%;
        margin-left: 10px;
        margin-top: 100px;
    }

    #buttons {
        padding-top: 0px;
        top: 25px;
        left: 25px;
        width: 80%;
        margin: 0 auto;
        font-size: 10px;
    }

    .footer {
        font-size: 12.5px;
    }

    .opening-hours {
        display: none;
    }
    
    

    #logo {
        float: left;
        font-size: 200%;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 30px;
        color:#8DB99D;  
    }

    #prescription-form-section {
        width: 65%;
        height: 600px;
        padding: 10px;
        font-size: 15px;
    }

    .submit-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        border: solid;
        box-shadow: 0 5px #493548;
        margin-top: 10px;
    }

    #book-consultation-section {
        width: 70%;
        height: 75%;
        padding: 15px;
        font-size: 20px;
        left: 20px;
    }

    .book-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        border-radius: 10px;
        box-shadow: 0 5px #493548;
        margin-top: 30px;
    }
    
    #blurb1 {
        height: 250px;
        font-size: 60%; 
        width: 80%;
    }

}


 
  




 




