*{
    margin: 0 auto;
    padding:0;
    border:0;
}

header {
    background-color: #493548;
}

body {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 1.5em;  
    color: #3a3a3a;
}

/*used coloors.co to get color palette to make site more appealing to user*/
h1 {
    font-family: 'Roboto Condensed', Sans-Serif;
    letter-spacing: 4px;
    color: #8DB99D;
    line-height: 50px;
    position: absolute;
    
}

h3 {
    background-color: #8DB99D;
    padding: 1px 30px 1px;
    color:#493548;
    font-family: 'italianno', sans-serif;
    font-size: 150%;
    
}

#logo {
    float: left;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.125em;
    padding-left: 0.25em;
    color:#8DB99D;  
}

#logo3 {
    float: left;
    font-size: 35%;
}

/* navigation links */

#menu {
    font-family: 'Cabin', Sans-Serif;
    color:#8DB99D;
    font-size: 100%;
    letter-spacing: 0.25em;
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    width: 100%;
    display: inline-block;
   
}

#menu li {
    float: right;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 1em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #8DB99D;
}

/* background images for each page*/

#landing-image-outer {
    height:36.5em;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#landing-image {
    height:36.5em;
    width: 100%;
    background:url("../images/adam-niescioruk-hWzrJsS8gwI-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;  
}

#prescriptions-background-outer {
    height:36.5em;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

#prescriptions-background {
    height:36.5em;
    width: 100%;
    background:url("../images/leohoho-DRchVK5apjw-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

#book-consultation-outer {
    height:36.5em;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#book-consultation-background {
    height:36.5em;
    width: 100%;
    background:url("../images/towfiqu-barbhuiya-hn2hQoALBCk-unsplash.jpg") no-repeat center center;
    animation-name: zoom;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

/* zoom feature of background images*/
@keyframes zoom {
    from{
        transform: scale(1.30);
    }
    to{
        transform: scale(1.40);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
    text-size-adjust: 150%;
    text-align: center;
}

/*landing page LARGE order prescriptions & book consultation buttons*/

#order-scripts-button {
    width: 35%;
    background-color: #493548; 
    border: none;
    border-radius: 0.5em;
    color: #8DB99D;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    display: block;
    float: none;
    font-size: 2em;
    margin-left: 2.5em;
    margin-top: 2.5em;
    box-shadow: 0 0.175em #8DB99D;
}

#buttons {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 100%;
    margin: 0 auto;
}

.button:active {
  transform: translateY(4px);
}

#book-consultation-button {
    width: 35%;
    background-color: #8DB99D; 
    border: none;
    border-radius: 0.5em;
    color: #493548;
    padding: 0.5em 0.75em;
    text-align: center;
    text-decoration: none;
    display: block;
    float: none;
    font-size: 2em;
    margin-left: 2.5em;
    margin-top: 2.5em;
    box-shadow: 0 0.175em #493548;

}

/* about us section giving some info & image of pharmacy to break up the text */

#about-us-container {
    
    background:url("../images/pexels-karolina-grabowska-4210656.jpg") no-repeat center center;
    zoom: 125%;
    height: 25em;
    
}

#h2aboutus {
    font-family: 'roboto-condensed', Sans-Serif;
    font-size: 175%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color:#ffffff;   
    background-color: #493548;
    text-align: center; 
}

#blurb1 {
    font-family: 'roboto-condensed', Sans-Serif;
    font-size: 75%;
    font-weight:bold;
    height: 100%;
    width: 45%;
    padding-right: 5%;
    padding-top: 10%;
    text-align: justify;
    color:#493548;
    display: inline-block;
    float: right;
    
}


#address {
    color: #ffffff;
    font-family: 'roboto-condensed', Sans-Serif;
    padding: 1em;
    text-size-adjust: 150%; 
}



/* fixed footer for opening hours & contact details */
.opening-hours {
    color: #ffffff;
    bottom: 0;
    float: left;
    padding-left: 0.25em;
}

.opening-hours ul {
    list-style-type: none;
    display: inline-flex;
}

#contact-details {
    float:right;
    box-sizing: border-box;
    margin-right: 0.5em;
  }


/* non-fixed footer for social media links */
footer { 
    height: 1em;
    background-color: #8DB99D;
    box-sizing: border-box;
}


.social-networks{
    height: 2em;
    padding-top: 0.5em;
    text-align: center;
    letter-spacing: 0.5em;
    background-color: #8DB99D;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 120%;
    color: #3a3a3a;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #493548;
    color: white;
    text-align: center;
    box-sizing: border-box;
  }

  .days {
    color:#8DB99D;
    display: inline;
    font-size: 110%;
  }

  .TF {
    color:#8DB99D;
    display: inline;
    font-size: 110%;
  }

/* prescription order form*/

#prescription-form-section {
    width: 17.5em;
    height: 27.5em;
    padding: 1em;
    color:#8DB99D;
    background-color: #493548BF;
    top: 1.5em;
    left: 5em;
    position: absolute;

}

.order-prescription-form > h2 {
    color:#8DB99D;
    margin-bottom: 1em;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 1.75em;
    margin: 0.25em 0 1em 0;
    border: 0.1em solid #fafafa;
    border-radius: 0.1em;
}

.text-input:hover {
    border-color: #8DB99D;
}

ul {
    list-style-type: none;
}

.submit-button {
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-align: center;
    font-size: 175%;
    background-color: #8DB99D;
    color: #493548;
    float: right;
    border: solid;
    border-radius: 0.5em;
    box-shadow: 0 0.25em #493548;
    margin-top: -1.1em;
}

.submit-button:active {
    transform: translateY(4px);
  }

.submit-button:hover {
    background-color: #fafafa;
    color: #493548;
}

.upload-prescription {
    display: flex;
}

/* book consultation input form */

#book-consultation-section {
    width: 15em;
    height: 25em;
    padding: 1em;
    color:#8DB99D;
    background-color: #493548BF;
    top: 2.5em;
    right: 5em;
    position: absolute;
}

#book-button {
    float: right;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-top: -0.1em
}

.checkbox ul, #checkbox1, #checkbox2, #checkbox3, #checkbox4, #checkbox5, #checkbox6  {
    display: inline-flex;
    width: 80%;   
}


/* Media queries */


@media screen and (min-width: 1201px) and (max-width: 1350px) {
    #menu {
        width: 75%;
        height: 2em;
        padding-top:4.5em;
        padding-bottom: 1em;
        padding-left: 1em;
    }


}

/*for very large  screens size from 1024px and up to 1200px*/
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    
    #menu {
        width: 75%;
        height: 2em;
        padding-top: 4.5em;
        padding-bottom: 1em;
        padding-left: 1em;
    }

    #blurb1 {
        font-size: 75%;
    }

    .footer {
        font-size: 75%;
        max-width: 100%; 
    }
 
}


/*for larger and medium screens size from 1024px to 769px*/
@media screen and (max-width: 1024px) and (min-width: 769px) {
   
    #menu {
        width: 100%;
        height: 2em;
        padding-top: 7em;
        padding-bottom: 1em;
        font-size: 75%;
    }

    #landing-image {
        background-size: cover;
    }

    #order-scripts-button {
        font-size: 2em;
    }

    #book-consultation-button {
        font-size: 2em;
    }

    h3 {
       font-size: 1em;
    }
    
    #blurb1 {
        height: 15em;
        font-size: 70%; 
        width: 40%;
    }

   .footer {
        overflow-x: hidden;
        max-width: 1024px;
        min-width: 769px;
        font-size: 75%;
        
    }

   #contact-details {
        float: right;
    }
}


/* For medium to small screens sizes from 481px to 768px e.g. tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {

    #menu {
        height: 2em;
        padding-top: 7.5em;
        padding-bottom: 1em;
        font-size: 1em;
        display: flex;
        flex-direction: column-reverse;  
    }

    .footer {
        font-size: 40%;
        max-width: 768px;
        min-width: 481px;
        
    }

    #landing-image {
        width: 100%;
        zoom: 120%;
        background:url("../images/pexels-anna-shvets-3683102.jpg") no-repeat center center; 
    }

    #buttons {
        padding-top: 0px;
        top: 5px;
        left: 5px;
        width: 100%;
        margin: 0 auto;
        font-size: 10px;
    }

    #order-scripts-button {
        font-size: 5em;
        width: 50%;
    }

    #book-consultation-button {
        font-size: 5em;
        width: 50%;
    }
    
    #prescription-form-section {
        width: 300px;
        height: 650px;
        padding: 20px;
        color:#8DB99D;
        background-color: #493548BF;
        top: 30px;
        left: 100px;
        position: absolute;
        font-size: 20px;
    }

    .submit-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        background-color: #8DB99D;
        color: #493548;
        float: right;
        border: solid;
        border-radius: 15px;
        box-shadow: 0 9px #493548;
        margin-top: -20px;
    }

    #book-consultation-section {
        width: 300px;
        height: 550px;
        padding: 20px;
        color:#8DB99D;
        background-color: #493548BF;
        top: 30px;
        left: 100px;
        position: absolute;
        font-size: 20px;
    }

    .book-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        background-color: #8DB99D;
        color: #493548;
        float: right;
        border: solid;
        border-radius: 15px;
        box-shadow: 0 9px #493548;
        margin-top: -20px;
    }

    #blurb1 {
        height: 250px;
        font-size: 65%; 
        width: 60%;
    }


}

/* for screens that are 480px to 320px */
@media screen and (max-width: 480px) and (min-width: 320px) {

    #menu {
        height: 15%;
        padding-top: 100px;
        padding-bottom: 15px;
        font-size: 80%;
        display: flex;
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 1em;
    }

    #landing-image {
        width: 100%;
        background:url("../images/pexels-anna-shvets-3683102.jpg") no-repeat center center;
    }

    #order-scripts-button {
        font-size: 2.5em;
        height: 2.5em;
        width: 70%;
        align-items: center;
       
    }

    #book-consultation-button {
        font-size: 2.5em;
        height: 2.5em;
        width: 70%;
        align-items: center;
    }

    #buttons {
        padding-top: 0;
        top: 2.5em;
        left: 1em;
        width: 80%;
        margin: 0 auto;
        font-size: 0.5em;
    }

    .footer {
        font-size: 35%;
        max-width: 480px;
    }


    #logo {
        float: left;
        font-size: 180%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color:#8DB99D;  
    }

    #prescription-form-section {
        width: 65%;
        height: 600px;
        padding: 10px;
        font-size: 15px;
    }

    .submit-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        border: solid;
        box-shadow: 0 5px #493548;
        margin-top: 10px;
    }

    #book-consultation-section {
        width: 70%;
        height: 65%;
        padding: 15px;
        font-size: 20px;
        left: 20px;
    }

    .book-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        background-color: #8DB99D;
        color: #493548;
        float: right;
        border: solid;
        border-radius: 15px;
        box-shadow: 0 9px #493548;
        margin-top: 30px;
    }
    
    #blurb1 {
        height: 250px;
        font-size: 60%; 
        width: 80%;
    }

}

/* for screens that are 320px & down*/
@media screen and (max-width: 320px) {

    #landing-image {
        width: 100%;
        background:url("../images/pexels-anna-shvets-3683102.jpg") no-repeat center center;
    }

    #logo {
        float: left;
        font-size: 150%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    #menu {
        height: 15%;
        padding-top: 80px;
        padding-bottom: 15px;
        font-size: 75%;
        display: flex;
        flex-direction: column-reverse;
    }

    h3 {
        font-size: 1em;
    }

    .footer {
        font-size: 45%;
        
    }

    #order-scripts-button {
        font-size: 1.5em;
        height: 2.5em;
    }

    #book-consultation-button {
        font-size: 1.5em;
        height: 2.5em; 
    }

    #buttons {
        padding-top: 0;
        top: 2.5em;
        left: 1.5em;
        width: 30em;
        height: 2em;
        font-size: 0.5em;
    }

    #blurb1 {
        height: 250px;
        font-size: 50%; 
        width: 80%;
    }

    #prescription-form-section {
        width: 70%;
        height: 42.5em;
        padding: 0.75em;
        font-size: 0.5em;
      
    }

    .submit-button {
        padding: 10px 20px 10px 20px;
        text-align: center;
        font-size: 100%;
        margin-top: 10px;
    }

    #book-consultation-section {
        width: 80%;
        height: 27.5em;
        padding: 0.75em;
        font-size: 0.65em;
        left: 0.5em;
    }

    .book-button {
        padding: 10px 20px 10px 20px;
        font-size: 100%;
        float: right;
       
    }
}




 
  




 




